@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

body {
  background-color: hsl(210, 46%, 95%);
  color: hsl(214, 17%, 51%);
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 2rem 2em;
  background-color: white;
  max-width: 55rem;
  min-height: 20em;
  border-radius: 1rem;

  display: grid;
  grid-template-columns: 40% 60%;

  position: relative;
}

.img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
  object-fit: cover;
  object-position: left;
  transition: all 0.3s ease-in-out;
}

.content {
  padding: 2.2em 2.2em 1em 2.2em;
}

.text {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1.3em;
  margin-bottom: 0.7em;
}

.subtext {
  line-height: 1.4em;
  font-size: 1em;
  margin-bottom: 1.5em;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.author img {
  border-radius: 50%;
  width: 3em;
  height: auto;
}

.author-info {
  align-self: center;
  margin-left: 1em;
}

.author .name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

button {
  font: inherit;
}

.share {
  z-index: 10;
  align-items: center;
}

.share-button {
  background-color: hsl(210, 46%, 95%);
  padding: 0.6em;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.share-button img {
  width: 1em;
  height: auto;
}

.share-button:hover,
.share-button:active {
  background-color: hsl(213, 9%, 25%);
}

.share-options {
  background-color: hsl(217, 19%, 35%);
  padding: 1em 2em;
  border-radius: 1em;

  gap: 1.3em;
  width: max-content;
  display: flex;
  justify-content: start;
  align-items: center;

  position: absolute;
  left: 78%;
  bottom: 30%;
  transition: all 0.3s ease;
}

.share-options .share-text {
  color: hsl(212, 23%, 69%);
  text-transform: uppercase;
  letter-spacing: 4px;
}

.triangle {
  color: hsl(217, 19%, 35%);
  border-top: 1em solid hsl(217, 19%, 35%);
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;

  display: block;
  position: absolute;
  bottom: -0.8em;
  left: 45%;
}

.pop-up {
  display: none;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12.5px;
  }

  .card {
    grid-template-columns: 1fr;
  }

  .img img {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    max-height: 17em;
    object-position: top;
  }

  .share-options {
    border-radius: 0 0 1rem 1rem;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.5em;
  }
  .triangle {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 10.5px;
  }
}
